.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.firework {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  animation: firework 1.5s ease-out infinite;
}

.firework:nth-child(1) {
  left: 20%;
  top: 30%;
  animation-delay: 0s;
}

.firework:nth-child(2) {
  left: 40%;
  top: 20%;
  animation-delay: 0.3s;
}

.firework:nth-child(3) {
  left: 60%;
  top: 35%;
  animation-delay: 0.6s;
}

.firework:nth-child(4) {
  left: 80%;
  top: 25%;
  animation-delay: 0.9s;
}

.firework:nth-child(5) {
  left: 50%;
  top: 40%;
  animation-delay: 1.2s;
}

@keyframes firework {
  0% {
    transform: translate(0, 0);
    opacity: 1;
    box-shadow: 
      0 0 0 0px hsl(var(--primary)),
      0 0 0 0px hsl(var(--primary)),
      0 0 0 0px hsl(var(--primary)),
      0 0 0 0px hsl(var(--primary)),
      0 0 0 0px hsl(var(--primary)),
      0 0 0 0px hsl(var(--primary));
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    box-shadow: 
      0 -100px 10px 4px hsl(48, 100%, 50%),
      80px -50px 10px 4px hsl(120, 100%, 50%),
      80px 50px 10px 4px hsl(200, 100%, 50%),
      0 100px 10px 4px hsl(280, 100%, 50%),
      -80px 50px 10px 4px hsl(320, 100%, 50%),
      -80px -50px 10px 4px hsl(0, 100%, 50%);
  }
}
